@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: white) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
    background-color: whitesmoke;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.customgrid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(20rem,1fr));
  gap: 0;
}
.customgridApprovalCard {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(30rem,1fr));
  gap: 10;
}
